<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta_links %}
    <!-- templates tags -->
    {% endblock %}
    <!-- helps to load static content -->
    {% load static %}
    <title> {% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style_links %}

    {% endblock %}
</head>

<!-- <body>
    <nav class="navbar navbar-expand-md bg-grey navbar-red">


        <img class="logo" src="{% static 'img/agrobars.png' %}">


        <button class="navbar-toggler" type="button" data-toggle="collaspe" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:seller_create' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:seller_create' %}">Contact Us</a>
                </li>
                
                <li class="topnav">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </li>
            
            </ul>
        </div>
    </nav> -->
{% block content %}


{% endblock content %}
<!-- place footer component here -->










<script src="{% static 'js/jquery.js' %}" type="text/js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="{% static 'js/bootstrap.js' %}" type="text/js"></script>
{% block script_links %}

{% endblock %}
{% block script %}

{% endblock %}
</body>

</html>
</body>

</html>